.main-panel{
    display: flex;
    /* border: 1px solid; */
    flex:4;
    flex-direction: column;
    height: 85vh;
    /* width: 100%; */
    min-width: 500px;
    margin: .5rem;
    border-radius: 15px;
    background-color: #fff;


    .rdt_TableHead {
        font-size: 13px;
        font-weight: 600;
    }

    .rdt_TableBody {
        height: 75vh;
        overflow-y: scroll;
    }
}